extends layout

block content
  div(class="tc bg-neon-carrot plum bb b--black-10 pa4 pa5-ns")
    h1(class="f2 f-headline-l f1-ns fw6 mid-gray ma0")
      a(href="/") browserl.ist
    p(class="ma0 mt2 mb4 mb5-ns") #{description}
    form(method="get" action="/" class="cf dt-ns w-100 my4 f5 f4-l")
      div(class="fl dtc-ns w-100 w-80-ns mb2 mb0-ns pr2-ns")
        input(class="pa2 ba b--black-30 code br1 border-box w-100 lh-title" name="q" value= query)
      div(class="fl dtc-ns w-100 w-20-ns")
        button(type=submit class="bg-plum neon-carrot b bg-plum--hover pa2 ba b--black-30 br1 db w-100 lh-title border-box pointer") Show #[span(class="dn-m") Browsers]
  div(class="dt-ns w-100 mw8 center")
    if compatible
      - const columns = Object.keys(compatible).length
      each browsers, platform in compatible
        div(class=`dtc-l pa2 ${columns === 3 ? 'w-third' : 'w-50-l'} border-box`)
          h2(class="f4 f3-ns ma0 mt4 mb4 tc ttc")
            if platform === 'server'
              | Node.js #{platform}s
            else
              | #{platform} browsers
          ul(class="ma0 list pa3")
            each browser in browsers
              li(class="ma0 mb3 lh-copy")
                if browser.name === 'Edge' && browser.version <= 18
                  - var icon = browser.id + "-legacy"
                else
                  - var icon = browser.id
                img(src='/images/' + icon + '.png' class="v-mid mr2" alt="" height="34" width="34")
                span(class="mr1 v-mid")
                  if browser.name === 'Edge'
                    if browser.version <= 18
                      | Edge Legacy
                    else
                      | Edge
                  else
                    | #{browser.name}
                span(class="mr1 v-mid") #{browser.version}
                span(class="v-mid fr")
                  small
                    if isFinite(browser.coverage)
                      | #{Math.round(browser.coverage * 100) / 100}%
                    else
                      | Unknown coverage
    else if error != null
      h2(class="f4 f3-ns ma0 mv5 tc ttc") #{error}
  div(class="tc bg-neon-carrot plum bb b--black-10 pa2 pa3-ns mt4")
    if compatible
      | #{region} coverage:
      strong(class="ml1") #{Math.round(coverage * 100) / 100}%
    else
      | Unknown coverage
