doctype html
html
  head
    title browserl.ist: #{description}
    meta(name="description" content=description)
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="author" content="@jonrohan")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/tachyons.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="sans-serif f4")
    block content
    div(class="bt b--black-10 mt4 pa5 f6 lh-copy")
      span(class="mr4 db di-ns mb2 mb0-ns") Made by #[a(href="https://twitter.com/jonrohan") jonrohan]
      span(class="mr4 db di-ns mb2 mb0-ns") Code on #[a(href="https://github.com/jonrohan/browserl.ist") GitHub]
      span(class="mr4 db di-ns mb2 mb0-ns") Data provided by #[a(href="https://github.com/ai/browserslist") browserslist] <strong>#{blversion}</strong>

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '#{GA_ID}', 'auto');
      ga('send', 'pageview');
